;;; Configuration for LIFT tests

;; Settings
(:if-dribble-exists :supersede)
;; (:dribble "lift.dribble")
(:dribble nil)
(:print-length 10)
(:print-level 5)
(:print-test-case-names t)
(:log-pathname t)

;; Suites to run
(uk.co.deoxybyte-unix-test:deoxybyte-unix-tests)

;; Report properties
(:report-property :title "deoxybyte-unix | test results")
(:report-property :relative-to deoxybyte-unix)

(:report-property :name "test-results")
(:report-property :format :html)
(:report-property :style-sheet "test-style.css")
(:report-property :if-exists :supersede)
(:report-property :unique-name nil)
(:build-report)

;; (:report-property :format :describe)
;; (:report-property :full-pathname *standard-output*)
;; (:build-report)
